################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssociationManager/obj
/.vs
/AssociationMessages/obj
/CommandLineAssociationManager/obj
/GongSolutions.Wpf.DragDrop/obj
/TestDriver/obj
/TestDriverAssoc/obj
/CommandLine/FileMeta.vcxproj.user
/ContextMenuHandler/ContextMenuHandler.vcxproj.user
/ipch
/PropertyHandler/PropertyHandler.vcxproj.user
/FileMetadata.sdf
/FileMetadata.suo
/FileMetadata.VC.db
/FileMetadata.VC.VC.opendb
/AssociationManager/bin/x64/Debug
/AssociationMessages/bin/Debug
/GongSolutions.Wpf.DragDrop/bin/Debug/NET35
/TestDriver/.vs/TestDriver/v14
/TestDriver/bin/x64/Debug
/TestDriverAssoc/.vs/TestDriverAssoc/v14
/TestDriverAssoc/bin/x64/Debug
/AssociationMessages/bin/Release
/CommandLineAssociationManager/bin/x64/Release
/AssociationManager/bin/x64/Release
/GongSolutions.Wpf.DragDrop/bin/Release/NET35
/CommandLine/x64/Debug
/CommandLineAssociationManager/bin/x64/Debug
/ContextMenuHandler/x64/Debug
/PropertyHandler/x64/Debug
/Setup/obj/x64/Debug
/x64/Debug
